{% extends 'simple.html' %} {% block header %}

<title>Lama Database</title>
<meta name="description" content="Admin interface for lamaDB."> {% endblock %} {% block body %}

<div class="tab">
	<div class="row-1">
		<div class="tab  landing-content">
			<div class="col-m ta-c">
				<a href="/">
					<img class="logo" src="admin/img/logo.png" alt="">
					<div class="land-title">LamaDB</div>
				</a>
				<div class="sub-title">an honorofic title applied to a spiritual leader</div>
				<div class="land-text">Who we are?</div>
				<div>
					<a class="land-btn m_second" href="/OurWOrk">What we do?</a>
					<a class="land-btn m_accent" href="/Login">Get Started</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="tab landing-bg">

		</div>
	</div>
</div>

{% endblock %}
