{% extends 'simple.html' %} {% block header %}

<title>Lama Database</title>
<meta name="description" content="Admin interface for lamaDB."> {% endblock %} {% block body %}

<div class="row">
	<div class="abs ov-y">
		<div class="tab landing-content">
			<div class="col ta-c login-page">
				<div class="inline-auth">
					<a href="/" class="logo-row m_auth">
						<img class="logo" src="admin/img/logo.png" alt="">
						<div class="land-title">LamaDB</div>
					</a>
					<div class="sub-title">an honorofic title applied to a spiritual leader</div>
					<div class="auth-text">
						<p class="ta-c">Create and manage your database on the cloud. Use our simple to use API to integrate your code. Pricing don't worry about it. Use Lama first, like it then chose a suitable packege for you. Not sure yet please <a href="http://whitewhale.io">contact us</a></p>
					</div>

					<div>

						<form method="POST" action="/api/user/login" class="login-form">
							<h2>Sign in</h2>
							<label>
								<h4>Email</h4>
								<input tabindex="1" type="email" placeholder="Email" name="username">
								</label>
							<label>
							<h4>Password</h4>
							<input tabindex="2" type="password" placeholder="Password" name="password" minlength="6">
							</label>
							<div class="ta-r mt2 mb2">
								<a class="fl fp-link" href="/Recovery">Forgot password?</a>
								<button tabindex="3" type="submit" class="btn">Sign in</button>
							</div>
							<div class="wrong-massage">
								{% if notFound %}
								<div>Email and password does not match</div>
								{% endif %}
							</div>
						</form>

						<form method="POST" action="/api/user/signup" class="login-form">
							<h2>Registration</h2>
							<label>
								<h4>Email</h4>
								<input {% if exists %}class="m_wrong"{% endif %} tabindex="4" type="email" placeholder="Email" name="username">
							</label>
							<label>
								<h4>Password</h4>
								<input tabindex="5" type="password" placeholder="Password" name="password" minlength="6">
							</label>
							<div class="ta-r mt2 mb2">
								<button tabindex="6" type="submit" class="btn">Register</button>
							</div>
							<div class="wrong-massage">
								{% if exists %}
								<div>Email is not available</div>
								{% endif %}
							</div>
						</form>


					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
