{% extends 'simple.html' %} {% block header %}

<title>Lama Recovery</title>
<meta name="description" content="Recover password for Admin interface for lamaDB."> {% endblock %} {% block body %}

<div class="row">
	<div class="abs ov-y">
		<div class="tab landing-content">
			<div class="col ta-c login-page">
				<div class="inline-auth">
					<a href="/" class="logo-row m_auth">
						<img class="logo" src="admin/img/logo.png" alt="">
						<div class="land-title">LamaDB</div>
					</a>
					<div class="sub-title">an honorofic title applied to a spiritual leader</div>
					<h1>Thank you</h1>
					<div class="auth-text">
						<p class="ta-c">An email has been sended to your mail box.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

{% endblock %}
