.alerts-wrapper {
	position: fixed;
	z-index: z('alerts-wrapper');
	right: 0;
	bottom: 0;
	width: 320px;
}
.alert {
	position: relative;
	display: inline-block;
	width: 300px;
	padding: $space;
	margin: $space2;
	background: $primary;
	border: 1px solid $divider;
	color: $text-w;
	text-align: center;
}